<strong> Olá, {{student}} </strong>
<p>Seu cadastro foi realizado com sucesso</p>
<p>Confira abaixo informações sobre o plano contratado</p>
<p>
<strong>Ínicio:</strong>{{formatedDateInitial}} <br />
<strong>Fim:</strong> {{formatedDateEnd}} <br />
<strong>Preço:</strong>  {{price}}<br /><br />

<small>Parabéns pela aquisição.</small>
</p>